.jumbotron .card {
  border-radius: 20px;
  background-image: url(../aset/gradient.jpg);
  background-size: cover;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

button:focus{
  border: none;
}
input:focus{
  border: none;
}

.btn {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.modal-content {
  border-radius: 20px;
}

.input-group-text,
.form-control {
  background-color: white;
}
.search{
  border-radius: 20px;
  border: none;
}

.main {
  display: inline-flex;
}

.card-main {
  width: 50%;
  height: 150px;
  border-radius: 15px;
  border: none;
}

.bg-p-blue,
.card-inventory, .bg-primary, .btn-primary, .alert-primary, .progress-bar {
  background-color: #3382E2 ;
  color: #FCFCFC;
}
.bg-p-green {
  background-color: #16A085;
  color: #FCFCFC;
}
.bg-p-red {
  background-color: #F39C12;
  color: #FCFCFC;
}
.bg-p-grey {
  background-color: #AD1457;
  color: #FCFCFC;
}
